    .Uber{
        background-color:black;
        color:white;
        border:none;
        height: 37px;
        width: 110px;
        font-size: 12px;
        cursor:pointer;
        margin-left:20px;
        margin-bottom:20px;
    } 

    .Amazon{
        background-color:rgb(255,216,20);
        border: none;
        height: 30px;
        width:170px;
        border-radius:25px;
        font-weight: bold;
        cursor:pointer;
        margin-left: 20px;
        margin-bottom:20px;
    }

    .GitHub{
        background-color: rgb(46,164,79);
        color: white;
        font-weight: bold;
        height: 35px;
        width: 88px;
        border:none;
        border-radius: 7px;
        cursor:pointer;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .Bootstrap{
        background-color: rgb(121,82,179);
        color: white;
        border:none;
        height: 35px;
        width: 100px;
        border-radius: 3px;
        margin-left:20px;
        margin-bottom: 20px;
        font-weight: bold;
        cursor: pointer;
    }

    .Download{
        background-color: white;
        border-color:rgb(108,117,125);
        border-style:solid;
        border-radius: 3px;
        height:35px;
        width: 100px;
        color:rgb(108,117,125);
        font-weight:bold;
        margin-left:5px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .linkedIn{
        background-color: rgb(10, 102, 194);
        color: white;
        border: none;
        height: 35px;
        width: 220px;
        border-radius: 17px;
        font-weight: bold;
        margin-right: 10px;
        cursor: pointer;
        margin-left: 20px;
    }

    .Save{
        background-color: white;
        border-style: solid;
        border-color: rgb(10, 102, 194);
        color: rgb(10, 102, 194);
        height: 35px;
        width: 70px;
        font-weight:bold;
        border-radius: 17px;
        cursor: pointer;
    }