    .font1{
        font-family: Tahoma;
        font-weight: bold;
    }

    .arial{
        font-family: Arial;
        font-weight: bolder;
        margin-bottom: 0px;
    }

    .sale{
        font-family: Arial;
        color: rgb(224, 26, 26);
        font-style: italic;
        margin-top: 2px;
        font-size: 11px;
    }

    .title{
        margin-top: 20px;
        font-family: Verdana;
        font-weight: bolder;
        font-size:12px;
        margin-bottom: 0px;
    }

    .caption{
        font-family: Verdana;
        font-size:11px;
        margin-top: 2px;
        color: rgb(100, 99, 99);
    }

    .content{
        font-family: Verdana;
        width: 180px;
        font-size: 10px;
        color:rgb(2, 0, 0);
    }

    .btn{
        background-color: rgb(23, 107, 23);
        border:none;
        padding: 5px 10px;
        color: white;
        font-size: 9px;
        border-radius: 2px;
    }

    .shop{
        font-family: Arial;
        font-weight: bold;
        width: 300px;
        text-align: center;
        margin-bottom: 0px;
    }

    .cap{
        width:300px;
        text-align: center;
        font-family: Arial;
        font-size: 9px;
        font-weight:600;
    }

    .link{
        color:blue;
        font-size:9px;
        width:300px;
        text-align: center;
    }